<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="logo"
            id="ynn.eclipse.mylogo.contentTypes.logoscript"
            name="LOGO Script"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ynn.eclipse.mylogo.ui.editors.LogoEditor"
            default="true"
            icon="icons/myLOGO16.png"
            id="ynn.eclipse.mylogo.ui.editors.logoEditor"
            name="LOGO Editor">
         <contentTypeBinding
               contentTypeId="ynn.eclipse.mylogo.contentTypes.logoscript">
         </contentTypeBinding>
      </editor>
      <editor
            class="ynn.eclipse.mylogo.ui.editors.LogoScriptEditor"
            contributorClass="ynn.eclipse.mylogo.ui.editors.LogoScriptEditorActionContributor"
            icon="icons/myLOGO16.png"
            id="ynn.eclipse.mylogo.ui.editors.logoScriptEditor"
            name="LOGO Script Editor">
         <contentTypeBinding
               contentTypeId="ynn.eclipse.mylogo.contentTypes.logoscript">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         id="logoBuilder"
         name="LOGO Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="ynn.eclipse.mylogo.builder.LogoBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="logoNature"
         name="LOGO Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="ynn.eclipse.mylogo.builder.LogoNature">
         </run>
      </runtime>
      <builder
            id="ynn.eclipse.mylogo.ui.logoBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="ynn.eclipse.mylogo.ui.addRemoveLogoNature"
               label="Disable LOGO builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="ynn.eclipse.mylogo.ui.logoNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ynn.eclipse.mylogo.ui.addRemoveLogoNature"
               label="Enable LOGO builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="ynn.eclipse.mylogo.ui.logoNature">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="logoProblem"
         name="LOGO Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ynn.eclipse.mylogo.ui.commands.logocategory"
            name="LOGO">
      </category>
      <command
            categoryId="ynn.eclipse.mylogo.ui.commands.logocategory"
            defaultHandler="ynn.eclipse.mylogo.ui.handlers.AddRemoveLogoNatureHandler"
            id="ynn.eclipse.mylogo.ui.addRemoveLogoNature"
            name="Add/RemoveLOGO Project Nature">
      </command>
   </extension>

</plugin>
